In [35]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv("Bulldozer.csv")

C:\Users\Hefes\AppData\Local\Temp\ipykernel_17064\1597605759.py:1: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Bulldozer.csv")

In [37]:
df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   object
 9   saledate                  412698 non-null  object
 10  fiModelDesc               412698 non-null  object
 11  fiBaseModel               412698 non-null  object
 12  fiSecondaryDesc           271971 non-null  object
 13  fiModelSeries             58667 non-null   object
 14  fiModelDescriptor         74816 non-null   object
 15  ProductSize               196093 non-null  object
 16  fiProductClassDesc        412698 non-null  object
 17  state                     412698 non-null  object
 18  ProductGroup              412698 non-null  object
 19  ProductGroupDesc          412698 non-null  object
 20  Drive_System              107087 non-null  object
 21  Enclosure                 412364 non-null  object
 22  Forks                     197715 non-null  object
 23  Pad_Type                  81096 non-null   object
 24  Ride_Control              152728 non-null  object
 25  Stick                     81096 non-null   object
 26  Transmission              188007 non-null  object
 27  Turbocharged              81096 non-null   object
 28  Blade_Extension           25983 non-null   object
 29  Blade_Width               25983 non-null   object
 30  Enclosure_Type            25983 non-null   object
 31  Engine_Horsepower         25983 non-null   object
 32  Hydraulics                330133 non-null  object
 33  Pushblock                 25983 non-null   object
 34  Ripper                    106945 non-null  object
 35  Scarifier                 25994 non-null   object
 36  Tip_Control               25983 non-null   object
 37  Tire_Size                 97638 non-null   object
 38  Coupler                   220679 non-null  object
 39  Coupler_System            44974 non-null   object
 40  Grouser_Tracks            44875 non-null   object
 41  Hydraulics_Flow           44875 non-null   object
 42  Track_Type                102193 non-null  object
 43  Undercarriage_Pad_Width   102916 non-null  object
 44  Stick_Length              102261 non-null  object
 45  Thumb                     102332 non-null  object
 46  Pattern_Changer           102261 non-null  object
 47  Grouser_Type              102193 non-null  object
 48  Backhoe_Mounting          80712 non-null   object
 49  Blade_Type                81875 non-null   object
 50  Travel_Controls           81877 non-null   object
 51  Differential_Type         71564 non-null   object
 52  Steering_Controls         71522 non-null   object
dtypes: float64(3), int64(5), object(45)
memory usage: 166.9+ MB

In [39]:
pd.api.types.is_object_dtype(df.saledate)

True

In [40]:
for col_name, content in df.items():
    if pd.api.types.is_object_dtype(content):
        df[col_name] = content.astype("category")

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   category
 9   saledate                  412698 non-null  category
 10  fiModelDesc               412698 non-null  category
 11  fiBaseModel               412698 non-null  category
 12  fiSecondaryDesc           271971 non-null  category
 13  fiModelSeries             58667 non-null   category
 14  fiModelDescriptor         74816 non-null   category
 15  ProductSize               196093 non-null  category
 16  fiProductClassDesc        412698 non-null  category
 17  state                     412698 non-null  category
 18  ProductGroup              412698 non-null  category
 19  ProductGroupDesc          412698 non-null  category
 20  Drive_System              107087 non-null  category
 21  Enclosure                 412364 non-null  category
 22  Forks                     197715 non-null  category
 23  Pad_Type                  81096 non-null   category
 24  Ride_Control              152728 non-null  category
 25  Stick                     81096 non-null   category
 26  Transmission              188007 non-null  category
 27  Turbocharged              81096 non-null   category
 28  Blade_Extension           25983 non-null   category
 29  Blade_Width               25983 non-null   category
 30  Enclosure_Type            25983 non-null   category
 31  Engine_Horsepower         25983 non-null   category
 32  Hydraulics                330133 non-null  category
 33  Pushblock                 25983 non-null   category
 34  Ripper                    106945 non-null  category
 35  Scarifier                 25994 non-null   category
 36  Tip_Control               25983 non-null   category
 37  Tire_Size                 97638 non-null   category
 38  Coupler                   220679 non-null  category
 39  Coupler_System            44974 non-null   category
 40  Grouser_Tracks            44875 non-null   category
 41  Hydraulics_Flow           44875 non-null   category
 42  Track_Type                102193 non-null  category
 43  Undercarriage_Pad_Width   102916 non-null  category
 44  Stick_Length              102261 non-null  category
 45  Thumb                     102332 non-null  category
 46  Pattern_Changer           102261 non-null  category
 47  Grouser_Type              102193 non-null  category
 48  Backhoe_Mounting          80712 non-null   category
 49  Blade_Type                81875 non-null   category
 50  Travel_Controls           81877 non-null   category
 51  Differential_Type         71564 non-null   category
 52  Steering_Controls         71522 non-null   category
dtypes: category(45), float64(3), int64(5)
memory usage: 45.7 MB

In [42]:
df.Differential_Type.cat.categories

Index(['Limited Slip', 'Locking', 'No Spin', 'Standard'], dtype='object')

In [43]:
np.unique(df.Differential_Type.cat.codes,  return_counts = True)

(array([-1,  0,  1,  2,  3], dtype=int8),
 array([341134,   1181,      2,    212,  70169], dtype=int64))

## NA değerleri doldurmak yerine bu Na değerleri girilmemiş veri olarak kategorize etmeye çalışacağız.

In [44]:
for col_name, content in df.items():
    if pd.api.types.is_categorical_dtype(content):
        df[col_name] = content.cat.codes

C:\Users\Hefes\AppData\Local\Temp\ipykernel_17064\1118601544.py:2: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(content):

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 412698 non-null  int8
 9   saledate                  412698 non-null  int16
 10  fiModelDesc               412698 non-null  int16
 11  fiBaseModel               412698 non-null  int16
 12  fiSecondaryDesc           412698 non-null  int16
 13  fiModelSeries             412698 non-null  int16
 14  fiModelDescriptor         412698 non-null  int16
 15  ProductSize               412698 non-null  int8
 16  fiProductClassDesc        412698 non-null  int8
 17  state                     412698 non-null  int8
 18  ProductGroup              412698 non-null  int8
 19  ProductGroupDesc          412698 non-null  int8
 20  Drive_System              412698 non-null  int8
 21  Enclosure                 412698 non-null  int8
 22  Forks                     412698 non-null  int8
 23  Pad_Type                  412698 non-null  int8
 24  Ride_Control              412698 non-null  int8
 25  Stick                     412698 non-null  int8
 26  Transmission              412698 non-null  int8
 27  Turbocharged              412698 non-null  int8
 28  Blade_Extension           412698 non-null  int8
 29  Blade_Width               412698 non-null  int8
 30  Enclosure_Type            412698 non-null  int8
 31  Engine_Horsepower         412698 non-null  int8
 32  Hydraulics                412698 non-null  int8
 33  Pushblock                 412698 non-null  int8
 34  Ripper                    412698 non-null  int8
 35  Scarifier                 412698 non-null  int8
 36  Tip_Control               412698 non-null  int8
 37  Tire_Size                 412698 non-null  int8
 38  Coupler                   412698 non-null  int8
 39  Coupler_System            412698 non-null  int8
 40  Grouser_Tracks            412698 non-null  int8
 41  Hydraulics_Flow           412698 non-null  int8
 42  Track_Type                412698 non-null  int8
 43  Undercarriage_Pad_Width   412698 non-null  int8
 44  Stick_Length              412698 non-null  int8
 45  Thumb                     412698 non-null  int8
 46  Pattern_Changer           412698 non-null  int8
 47  Grouser_Type              412698 non-null  int8
 48  Backhoe_Mounting          412698 non-null  int8
 49  Blade_Type                412698 non-null  int8
 50  Travel_Controls           412698 non-null  int8
 51  Differential_Type         412698 non-null  int8
 52  Steering_Controls         412698 non-null  int8
dtypes: float64(3), int16(6), int64(5), int8(39)
memory usage: 45.3 MB

In [46]:
df.sort_values(by = "saledate", inplace= True)

In [48]:
df.saledate

405675       0
268962       1
221519       1
283617       1
122970       1
          ...
19497     4011
103424    4011
19280     4011
19335     4011
22602     4012
Name: saledate, Length: 412698, dtype: int16

In [57]:
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')

In [59]:
df.saledate.sort_values

<bound method Series.sort_values of 0        2006-11-16
1        2004-03-26
2        2004-02-26
3        2011-05-19
4        2009-07-23
            ...
412693   2012-03-07
412694   2012-01-28
412695   2012-01-28
412696   2012-03-07
412697   2012-01-28
Name: saledate, Length: 412698, dtype: datetime64[ns]>